<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <style>
        body{
            background-color: gray;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>To delete this : <%= user.username %> user. Enter the respective password...</h2>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
    <label for="password">Password:</label>
    <input name="password" id="password">
    <button>Delete</button>
    </form>
</body>
</html>