<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body{
            background-color: gray;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            background-color: gainsboro;
        }
    </style>
</head>
<body>
    <h2>Total number of users in DB: <%= count %></h2>
    <button><a href="/user">Click here to see user list!!!</a></button>
</body>
</html>