<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
    <style>
        body{
            background-color: gray;
        }
    </style>
</head>
<body>
    <form method="post" action="/user/new">
        <label for="username">Username: </label>
        <input id="username" name="username"><br><br>

        <label for="password">Password: </label>
        <input id="password" name="password"><br><br>

        <button>Continue</button>
    </form>
</body>
</html>